.projects-section{
    min-height: 100vh;
    width: 100%;
    animation: fadeIn 1s ease-in-out forwards;
}


.projects-section h2{
    color:white;
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

.projects{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}



.project-cards{
    min-height: 50vh;
    width: 70%;
    background-color: yellow;
    margin-top: 5rem;
    align-self: center;
}